.post-details-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #aec0d6;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.post-author {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.post-content {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;

    word-wrap: break-word;        
    overflow-wrap: break-word;    
    white-space: normal;          
    max-width: 100%;   
}

.post-comments {
    margin-top: 40px;
}

.post-comments h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.post-actions .btn-secondary {
    margin-right: 10px;
}

.comment-actions {
    display: flex;
    gap: 10px;
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.comment form {
    margin-bottom: 20px;
}

.comment-author {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.comment-content {
    font-size: 14px;
    color: #666;

    word-wrap: break-word;       
    overflow-wrap: break-word;   
    white-space: normal;
}

.comment form .btn-primary, .edit-post-form .btn-primary {
    margin-right: 10px;
}