footer {
    text-align: center;
    background-color: #E8ECEF;
    color: #333333; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

footer p {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 10px;
    }
}