/* General Styling */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');


header {
    background-color: #e4eaf1;
    color: #333333; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px 40px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.navigation-left {
    display: flex;
    gap: 50px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.site-name {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 0.3s ease;
    color: #00509E;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);    
}

.site-name:hover {
    /* opacity: 0.8; */
    color: #87CEEB
}

/* Navigation Buttons */
.nav-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-button {
    color: #e4eaf1; /* Deep Sky Blue */
    background-color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 25px;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    /* font-weight: bold; */
}

.nav-button:hover, .nav-link:hover {
    background-color: #ffff; 
    color: #333; 
    /* font-weight: bold; */
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.menu-dropdown {
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: white;
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.menu-dropdown button {
    min-width: 100px;
}

.greeting-message {
    font-size: 16px;
    color: #333;
    margin-right: 10px; /* Space between greeting and the user icon */
    font-weight: bold;
    align-self: center; /* Align vertically to match the icon */
}

@media screen and (max-width: 790px) {

    .container {
        max-width: 100%;
    }

    .navigation {
        align-items: start;
        padding: 0;
    }

    .navigation-left {
        flex-wrap: wrap;
    }

    .nav-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-button {
        display: block;
        text-align: center;
    }
}